# =========================
# DJANGO
# =========================

SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost


# =========================
# BASE DE DONNÉES
# =========================

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Si nous passons plus tard à PostgreSQL/MySQL :
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=localhost
# DB_PORT=5432


# =========================
# MÉTÉO
# =========================

WEATHER_API_URL=https://api.open-meteo.com/v1/forecast
WEATHER_API_KEY=


# =========================
# INTELLIGENCE ARTIFICIELLE
# =========================

AI_API_URL=
AI_API_KEY=